@font-face {
  font-family: 'iconfont';
  /* Project id 2939472 */
  src: url('//at.alicdn.com/t/font_2939472_ul95681r9zc.woff2?t=1637294146507') format('woff2'), url('//at.alicdn.com/t/font_2939472_ul95681r9zc.woff?t=1637294146507') format('woff'), url('//at.alicdn.com/t/font_2939472_ul95681r9zc.ttf?t=1637294146507') format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xihuan1:before {
  content: '\e818';
}
.icon-xihuan:before {
  content: '\e69a';
}
.icon-shoucang:before {
  content: '\e86d';
}
.icon-wodehaoyou:before {
  content: '\e649';
}
.icon-zuijinbofang1:before {
  content: '\e605';
}
.icon-yonghu-yuan-copy:before {
  content: '\e7cd';
}
.icon-yonghu-yuan:before {
  content: '\e623';
}
.icon-zhibo:before {
  content: '\e63b';
}
.icon-zaixianzhibo:before {
  content: '\e603';
}
.icon-paihangbang:before {
  content: '\e604';
}
.icon-sirenfm:before {
  content: '\e7cc';
}
.icon-gedan:before {
  content: '\e600';
}
.icon-tuijian:before {
  content: '\e629';
}
.icon-meirituijian:before {
  content: '\e66a';
}
.icon-faxian_youxizhuanqu:before {
  content: '\e614';
}
.icon-gedan1:before {
  content: '\e601';
}
.icon-sirenFM1:before {
  content: '\e602';
}
